.incidents {
  &.resolved {
    margin: $incidents-resolved-margin;
  }
  &.unresolved {
    margin: $incidents-unresolved-margin;
  }
}

.incident {
  .title {
    font-size: $incident-title-size;
    font-weight: $incident-title-weight;

    border-bottom: $incident-resolved-title-border-bottom;
    padding: $incident-title-padding;
    margin: $incident-title-margin;

    display: flex;
    flex-direction: row;

    .date {
      &.no-margin {
        margin: 0;
        margin-left: auto;
      }

      margin-left: auto;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .date {
    color: $incident-date-color;

    font-weight: $incident-date-weight;
    font-size: $incident-date-size;

    margin-bottom: $incident-date-margin-bottom;
  }

  .updates {
    p {
      color: $incident-color;
    
      strong {
        color: $incident-stage-color;
      }
    }
  }

  margin: $incident-margin;

  &.unresolved {
    .title {
      margin: 0;
      border-bottom: 0;
      
      color: $incident-unresolved-title-color;
      padding: $incident-unresolved-title-padding;
    }
    .updates {
      padding: 1rem;
      background: none;
    }

    &.info .updates {
      border: $incident-unresolved-border $status-info;
      border-top: none;
    }
    &.operational .updates {
      border: $incident-unresolved-border $status-operational;
      border-top: none;
    }
    &.partial .updates {
      border: $incident-unresolved-border $status-partial;
      border-top: none;
    }
    &.major .updates {
      border: $incident-unresolved-border $status-major;
      border-top: none;
    }

    margin: $incidents-unresolved-margin;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}