.monitor-group {
  &:not(:last-of-type) {
    margin-bottom: $monitor-group-margin-bottom;
  }

  .monitor:not(:first-child) {
    border-top: 0;
  }

  &>.title {
    display: flex;
    flex-direction: row;

    background: $monitor-group-title-background-color;
    padding: $monitor-group-title-padding;

    color: $monitor-group-title-color;
    font-size: $monitor-group-title-size;
    font-weight: $monitor-group-title-weight;

    .collapse-indicator {
      font-size: 1.25rem;
      text-align: center;

      margin-right: .5rem;
      width: 1rem;
    }
  }

    &.collapsible > .title {
      cursor: pointer;
    }
}

.monitor {
  padding: 1rem;

  border: $monitor-border;
  
  .main-info {
    display: flex;
    flex-direction: row;

    .title {
      color: $monitor-title-color;
      font-size: $monitor-title-size;
      font-weight: $monitor-title-weight;

      .tooltip {
        color: $monitor-tooltip-color;
        font-size: $monitor-tooltip-size;
        font-weight: $monitor-tooltip-weight;
      }
    }
    
    .status {
      margin-left: auto;
    }
  } 

  .monitor-dashes {
    margin-top: .4rem;
    
    .outage-graph {
      width: 100%;
      overflow: hidden;

      .dash:hover {
        fill: $status-info;
      }
    }

    .outage-graph-scale {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      color: $monitor-dashes-timescale-ends-color;

      .middle {
        margin-left: auto;
        margin-right: auto;

        color: $monitor-dashes-timescale-middle-color;
      }
    }

  }

}