<!--The content below is only a placeholder and can be replaced.-->
<div class="page--header">
    <span class="page--header--text">LegendEffects</span>
</div>

<div class="page--container">

    <div class="status--current--container status--operational">
        All Systems Operational
    </div>

    <div class="monitor--container">
        <div class="monitor--data--container">
            <span class="monitor--data--title">Demo Pages</span>
            <span class="monitor--data--status status--operational--c">Operational</span>
        </div>
        <div class="monitor--data--percentile--container">
            <span class="monitor--data--indicator--block status--operational">100.00%</span>
            <span class="monitor--data--indicator--block status--operational">100.00%</span>
            <span class="monitor--data--indicator--block status--operational">100.00%</span>
            <span class="monitor--data--indicator--block status--operational">100.00%</span>
            <span class="monitor--data--indicator--block status--operational">100.00%</span>
            <span class="monitor--data--indicator--block status--operational">100.00%</span>
        </div>
        <div class="monitor--data--base--container">
            <div class="monitor--data--base--data">
                6 Days Ago
            </div>
            <div class="monitor--data--base--spacer"></div>
            <div class="monitor--data--base--data monitor--data--base--center">
                100.00%
            </div>
            <div class="monitor--data--base--spacer"></div>
            <div class="monitor--data--base--data">
                Today
            </div>
        </div>
    </div>
</div>
