// $primary: #23272A;
// $secondary: #2C2F33;
// $accent: #4c4e53;
// $contrast: #99AAB5;

/** Generic **/
$background-color: rgb(35, 39, 42);

$status-operational: #2ecc71;
$status-partial: #e67e22;
$status-major: #e74c3c;
$status-info: #535353;

$subheading-color: rgba(255, 255, 255, .75);

/** Header **/
$header-gradient: linear-gradient(323deg, #36D1DC 5%, #5B86E5);
$header-title-color: rgb(255, 255, 255);

$header-status-background: linear-gradient(90deg, rgba($background-color, 0.5), rgba(0, 0, 0, 0) 125%);
$header-status-color: rgb(255, 255, 255);

/** Monitors **/
$monitor-border: 1px solid rgb(30, 30, 30);

$monitor-title-color: rgb(255, 255, 255);
$monitor-tooltip-color: rgb(200, 200, 200);

$monitor-dashes-timescale-ends-color: rgba(255, 255, 255, .75);
$monitor-dashes-timescale-middle-color: rgba(255, 255, 255, .9);

/** Incidents **/
$incident-border: 1px solid rgb(30, 30, 30);

$incident-color: rgba(255, 255, 255, 0.9);
$incident-stage-color: rgb(255, 255, 255);
$incident-date-color: rgba(255, 255, 255, 0.6);