/** Generic **/
$background-color: rgb(35, 39, 42);

$status-operational: #2ecc71;
$status-partial: #e67e22;
$status-major: #e74c3c;
$status-info: #535353;

$subheading-color: rgba(255, 255, 255, .75);

/** Header **/
$header-gradient: linear-gradient(323deg, #36D1DC 5%, #5B86E5);
$header-title-color: rgb(255, 255, 255);

$header-status-background: linear-gradient(90deg, rgba($background-color, 0.5), rgba(0, 0, 0, 0) 125%);
$header-status-color: rgb(255, 255, 255);

/** Monitors **/
$monitor-group-title-background-color: rgb(30, 30, 30);
$monitor-group-title-color: rgba(255, 255, 255, 0.8);

$monitor-border: 1px solid rgb(30, 30, 30);

$monitor-title-color: rgb(255, 255, 255);
$monitor-tooltip-color: rgb(200, 200, 200);

$monitor-dashes-timescale-ends-color: rgba(255, 255, 255, .75);
$monitor-dashes-timescale-middle-color: rgba(255, 255, 255, .9);

/** Incidents **/
$incident-border: 1px solid rgb(30, 30, 30);

$incident-resolved-title-border-bottom: 1px solid rgba(0, 0, 0, .5);
$incident-unresolved-border: 1px solid;

$incident-unresolved-title-color: rgb(255, 255, 255);

$incident-color: rgba(255, 255, 255, 0.9);
$incident-stage-color: rgb(255, 255, 255);
$incident-date-color: rgba(255, 255, 255, 0.6);