/** Generic **/
$background-color: rgb(35, 39, 42);

$status-operational: rgb(46, 204, 113);
$status-partial: rgb(230, 126, 34);
$status-major: rgb(231, 76, 60);
$status-info: rgb(83, 83, 83);

$white: rgb(255, 255, 255);

$generic-grey-lighter: rgba(255, 255, 255, .85);
$generic-grey: rgba(255, 255, 255, .75);
$generic-grey-darker: rgba(255, 255, 255, .65);

$dark-grey: rgb(70, 70, 70);

/** Util **/
$subheading-color: $generic-grey;

$back-link-color: $generic-grey;

/** Header **/
$header-gradient: linear-gradient(323deg, #36D1DC 5%, #5B86E5);
$header-title-color: $white;

$header-status-background: rgba($background-color, 0.5);
$header-status-color: $white;

/** Monitors **/
$monitor-group-title-background-color: $dark-grey;
$monitor-group-title-color: $generic-grey;

$monitor-border: 1px solid $dark-grey;

$monitor-title-color: $white;
$monitor-tooltip-color: rgb(200, 200, 200);

$monitor-dashes-timescale-ends-color: $generic-grey;
$monitor-dashes-timescale-middle-color: $generic-grey-lighter;

/** Incidents **/
$incident-border: 1px solid $dark-grey;

$incident-resolved-title-border-bottom: 1px solid $dark-grey;
$incident-unresolved-border: 1px solid;

$incident-unresolved-title-color: $white;

$incident-color: $generic-grey-lighter;
$incident-stage-color: $white;
$incident-date-color: $generic-grey-darker;

/** Ticker **/
$ticker-tooltip-incident-color: $white;