.status-major {
  background-color: $status-major;
}
.status-major--c {
  color: $status-major;
}
.status-major--f {
  fill: $status-major;
}

.status-partial {
  background-color: $status-partial;
}
.status-partial--c {
  color: $status-partial;
}
.status-partial--f {
  fill: $status-partial;
}

.status-operational {
  background-color: $status-operational;
}
.status-operational--c {
  color: $status-operational;
}
.status-operational--f {
  fill: $status-operational;
}

.status-info {
  background-color: $status-info;
}
.status-info--c {
  color: $status-info;
}
.status-info--f {
  fill: $status-info;
}