.sub-heading {
  font-size: $subheading-size;
  font-weight: $subheading-weight;
  color: $subheading-color;
  margin: $subheading-margin;
}

.back-link {
  display: flex;
  flex-direction: row;

  color: $back-link-color;
  text-decoration: none;
  margin-bottom: .5rem;

  // https://css.gg/arrow-left
  .arrow {
    margin-right: .2rem;

    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    transform: scale(.8);
    
    &::after,
    &::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 3px
    }
    &::after {
        width: 8px;
        height: 8px;
        border-bottom: 2px solid;
        border-left: 2px solid;
        transform: rotate(45deg);
        bottom: 7px
    }
    &::before {
        width: 16px;
        height: 2px;
        bottom: 10px;
        background: $back-link-color;
    }
  }
}