.incident-page {
    .title {
        font-size: 2rem;
        font-weight: 500;
    }
    
    .meta {
        padding-bottom: .5rem;
        border-bottom: 1px solid rgb(70, 70, 70);
    
        .date {
            font-size: 1rem;
            color: rgba(255, 255, 255, 0.8);

            margin-top: .75rem;
        }
    }

    .affected {
        margin-top: .5rem;

        display: flex;
        flex-direction: row;

        .service {
            padding: .4rem 1rem;

            background: rgba(0, 0, 0, .5);
            text-decoration: none;
            color: #fff;

            margin-left: .5rem;
            &:first-child {
                margin-left: 0;
            }

        }
    }

    .body {
        margin-top: 1.5rem;
        color: #fff;

        .date {
            margin-bottom: 1rem;
        }
    }

    
}