$header-height: 25vh;
$header-margin-bottom: 3rem;
$header-title-size: 3rem;
$header-title-weight: 600;

$header-status-padding: 1.5rem 2.5rem;
$header-status-size: 1.25rem;
$header-status-weight: 400;

$header-status-indicator-size: 1.25rem;
$header-status-indicator-margin-right: 1rem;


$monitor-title-size: 1.2rem;
$monitor-title-weight: 400;