@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './util/back-link';

.fade-up-enter-active, .fade-up-leave-active {
  transition: opacity .5s, transform .2s;
}

.fade-up-enter, .fade-up-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.tooltip {
  @apply text-base font-normal text-color-light ml-2;
}

.back-link {
  @apply mt-5;
}
.back-link img {
  @apply w-4;
}
