.back-link {
  @apply flex text-color-light;
}
.back-link:hover {
  @apply underline;
}

.back-link .arrow {
  @apply mr-2;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(.8);
  width: 22px;
  height: 22px
}
.back-link .arrow::after,
.back-link .arrow::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px
}
.back-link .arrow::after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 7px
}
.back-link .arrow::before {
  width: 16px;
  height: 2px;
  bottom: 10px;
  background: currentColor
}
