.tick-tooltip {
  text-align: left;
  padding: $ticker-tooltip-padding;

  .date {
    margin-bottom: $ticker-tooltip-date-margin-bottom;
  }

  .heading {
    font-size: $ticker-tooltip-heading-size;
    font-weight: $ticker-tooltip-heading-weight;
  }

  .tooltip-incidents a {
    color: $ticker-tooltip-incident-color;
    text-decoration: none;
    display: block;
  }
}