.component--status {
    .status {
        color: #fff;
        font-size: 1.3rem;
        border-radius: 10px;
        padding: 1.1rem 1.25rem 1rem;
        font-weight: 300;
        margin-bottom: 50px;
    }
}